* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: royalblue;
    background-image: url("../image/pattern.png"); 
    height: 75px; 
    background-size: 300px;
}

#logo{
    height: 100%;
    padding: 25px 0px 15px 10px;
}

/* MAIN */
main{
    margin: 5px;
}

/* IMAGES SECTIONS */
.author {
    color:grey
    font-size: 20px;
}

.date {
    color: gray;
    font-size: 15px;
}

.author-name {
    color: royalblue;
}

.caption {
    font-size: 13px;
}

/* TEXT CONTENT */
.content {
    margin: 30px 0px;
}
   
.highlight {
    background-color: yellow;
}